/*! CSS adapted from  type theme */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.post-content h1, .excerpt h1 {
  display:none;
}

img {
  float:right;
  max-width: 50%;
}

h1.title {
  font-size:2em;
  color: #383838;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block;
}

body {
    font-family: "Myriad Pro", "Source Sans Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    color: #383838;
    margin: 10px 0px;
    background-color: #e6d4d4;
}

div.branding {
  padding: 40px 40px 0 40px;
  width: 70%;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  min-width: 300px;
}

div.content {
  padding: 40px;
  width: 70%;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  min-width: 300px;
  color: #383838;
}

h1.site-title {
font-size: 2.5em;
margin-bottom: 0;
}

img.cover {
float:right;
width:30%;
margin:12px;
border: 1px solid #383838
}


blockquote {

}


table {

}

td, th {

}


p, ol, ul {
    line-height: 1.5;
    margin-bottom: 1em;
}


hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a {
    color: #383838;
    text-decoration: none
}

/* for a menu for all recipes */
ul.recipes {
  border: 1px solid gray;
  width: 15%;
  float:right;
  font-size: 60%;
  position: absolute;
  top:40px;
  right:20px;
}

ul.recipes a {

}
